body {
  background-color: #ffe7d1;
}

hr {


  border-style: dotted none none;

  width: 5%;
  border-color: #d45d79;
  border-width: 5px;
}
h1{
  color: #0f4c75;
  text-align: center;

}
h3{
  color: #0f4c75;
}
h2{
  text-align: center;
}
